* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Arial;
}

title {
  display: none;
}

.game-board {
  height: 80vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  perspective: 1000px;
}

.card {
  width: 90%;
  height: 90%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .1s;
}

.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.default,
.flipped {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  opacity: 0.5;
}